/* style.css */
button {
	background-color: #ff4d4d; /* Jollof Red */
	color: white:
	border: none;
	padding: 12px 25px
	font-size: 16px;
	border-radius: 30px; /* Makes it rounded */
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1)
	transition: 0.3s
}
button:hover {
	background-color: #e60000
	transform: translatey(-2px); /* Makes it pop up slightly */
body {
    /* This creates a smooth blend from a light orange to a light red */
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
	color: darkred;
	text-align: center
}
p {
	font-size: 1.1em;
	padding: 10px;
}
ul {
	color: navy;
	border: 2px solid navy;
	list-style-type: square;
	padding: 15px;

